#!groovy

import com.cloudbees.plugins.credentials.impl.*;
import com.cloudbees.plugins.credentials.*;
import com.cloudbees.plugins.credentials.domains.*;
import com.cloudbees.jenkins.plugins.sshcredentials.impl.*;

String privatekey = """{{ user.value.pkey }}"""

def ksm = new BasicSSHUserPrivateKey.DirectEntryPrivateKeySource(privatekey)
Credentials ck = new BasicSSHUserPrivateKey(CredentialsScope.GLOBAL, "{{ user.value.id }}", "{{ user.value.username }}", ksm, "{{ user.value.pw }}", "{{ user.value.description }}")
SystemCredentialsProvider.getInstance().getStore().addCredentials(Domain.global(), ck)
