decorator == 4.4.0
setuptools
ansible == {{ jumphost_ansible_version }}
python-openstackclient
python-cinderclient
python-novaclient
python-neutronclient
python-glanceclient
python-keystoneclient
shade
ansible-lint
virtualenv
awscli
google-auth
ansible[azure]

